# Сборочные артефакты
/target/

# Локальные настройки Cargo
Cargo.lock      # Только для библиотек! Для бинарных проектов — оставляйте.
.idea/          # Если используете IntelliJ/RustRover
.vscode/        # Если не хотите делиться настройками редактора
*.swp
*.tmp
